<header ng-include="'./header/header.tpl.html'"></header>
<div class="formulario-cadastro-produto" ng-controller="ProdutosController as vm">    
    <form class="form-goup formulario border-radius-form" name="vm.produtoForm" ng-submit="vm.cadastrar()">
        <h4 class="centralizar mt-3">Cadastro Produto</h4>
        <label class="mt-2" for="formProduto"><strong>Produto</strong></label>
        <input class="form-control" type="text" name="produto" id="formProduto" ng-model="vm.produto.produto">

        <div class="form-row mt-2">
            <div class="col-md-4">
                <label for="formQuantidade"><strong>Quantidade</strong></label>
                <input class="form-control" type="number" name="quantidade" id="formQuantidade" ng-model="vm.produto.quantidade">
            </div>
            <div class="col-md-4">
                <label for="formValor"><strong>Valor</strong></label>
                <input class="form-control" type="number" name="valor" id="formValor" step="any" ng-model="vm.produto.valor">
            </div>
            <div class="col-md-4">
                <label for="formMargemLucro"><strong>Margem Lucro</strong></label>
                <input class="form-control" type="number" name="margemLucro" id="formMargemLucro" step="any"  ng-model="vm.produto.margenLucro">
            </div>
        </div>
        <div class="centralizar-elementos">
            <button class="btn btn-warning mt-4 mb-5 btn-md btn-block"><strong>Cadastrar Produto</strong></button>
        </div>        
    </form>
</div>
<header ng-include="'./footer/footer.tpl.html'"></header>